.content{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;

}
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.filter{
    display: flex;
    justify-content: center;
}