.sidebarOptions {
    display: flex;
    flex-direction: column;
  }
  .sidebarOption {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }
  
  .sidebarOption:hover {
    background: rgb(211, 211, 211);
    border-radius: 5px;
    cursor:context-menu;
  }
  .sidebarOption > img {
    height: 70px;
    width: 70px;
    border-radius: 12px;
    margin-left: 20px;
    object-fit: contain;
    
  }
  
  .sidebarOption > .MuiSvgIcon-root {
    font-size: medium;
    margin-left: 20px;
    transform: scale(2);
  }
  .sidebarOption > p {
    margin-left: 30px;
    color: black;
    font-weight: 500;
    font-size: 18px;
  }
  
  .sidebarOption > .text {
    margin-left: 23px;
    color: gray;
    font-weight: 400;
    font-size: 18px;
    
  }